/* 開発用ブレイクポイント
sm(min-width: 640px)
md(min-width: 768px)
lg(min-width: 1024px)
xl(min-width: 1280px)
*/

@font-face {
    font-family: blueSpring;
    src: url('../../public/fonts/えり字.otf') format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

.ii {
    font-family: 'Shippori Mincho', serif;
}

.test {
    font-family: blueSpring;
}

.target.action {
    transform: translateY(0);
    opacity: 1;
}

.bstok {
    margin: 0 calc(50% - 50vw);
    position: relative;
    z-index: 11;
}

.bstok::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E41B15;
    transform: skewY(10deg);
    z-index: -1;
    width: 0px;
    transition: all .5s;
}

.bstok.action::before {
    width: 100%;
}

#top {
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(255,255,255,0.6);
    background-blend-mode:lighten;
    background-position: center;
    background-image: url('../../public/images/image0.jpeg');
}

.c-right {
    background-color: white;
}

.sec1 {
    /* position:absolute; */
    /* width:100%; */
}

.nav li.set {
    transform: translateX(0);
    opacity: 1;
}

.scrolldown2{
    /*描画位置※位置は適宜調整してください*/
	position:absolute;
	bottom:5px;
	left:85%;
}

.scrolldown2 span{
    /*描画位置*/
	position: absolute;
	left:5px;
	bottom:30px;
    /*テキストの形状*/
	color: black;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
	/*縦書き設定*/
	-ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.scrolldown2:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom:0;
    left:-4px;
    /*丸の形状*/
	width:1px;
	height:10px;
	/* border-radius: 50%; */
	background:black;
    /*丸の動き1.6秒かけて透過し、永遠にループ*/
	animation:
    circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}

.btn {
    background-color: #E41B15;
}

.comp {
    background-repeat: no-repeat;
    background-size: contain;
    background-color:rgba(255,255,255,0.9);
    background-blend-mode:lighten;
    background-position: 0px 50%;
    background-image: url('../../public/images/favicon.png');
    opacity: 0;
}

.comp.target.action {
    opacity:1;
}

.info {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
}

#btn:after {
    content: "";
    position:absolute;
    top:0;
    /* bottom:0; */
    left:0;
    width:0;
    height: 100%;
    z-index: -1;
    background-color: #E41B15;
    transition: .3s;
}

#btn:hover {
    color:white;
    border: none;
}

#btn:hover:after {
    width: 100%;
}

.main-article h2 {
    font-size: 22px;
    border-left: 3px solid rgb(248 113 113 / var(--tw-bg-opacity));
    padding-left: 6px;
    margin: 16px 0;
}


@keyframes circlemove{
    0%{bottom:75px;}
   100%{bottom:-5px;}
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
    0%{opacity:0}
    50%{opacity:1;}
    80%{opacity:0.9;}
    100%{opacity:0;}
}

/* 線の描写 */
.scrolldown2:after{
    content:"";
    /*描画位置*/
    position: absolute;
    bottom:0;
    left:0;
    /*線の形状*/
    width:1px;
    height: 90px;
    background:black;
}

.back-g {
    /* background-image: url('../../public/images/image0.jpeg');
    background-size: 3px 3px;
    background-repeat: repeat;
     */
    background-color: rgba(0, 0, 0, 0.5);
}

.swiper {
    width:100vw;
    margin: 0 calc(50% - 50vw);
}

.infinite-slider .swiper-wrapper {
    transition-timing-function: linear;
}

.infinite-slider .swiper-slide {
    height: 220px !important; /* 高さを指定 */
    width: auto !important;
}

.swiper-slide img {
    /* width: 30%; */
    height: 100%;
}

.sub-btn {
    box-shadow: -4px -4px 8px #fff, 4px 4px 8px rgb(0 0 0 / 24%);
}

.button006 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.button006 a:before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: -3em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 2px;
    background-color: dimgray;
    transition: 0.3s;
}
.button006 a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -3em;
    transform: translateY(-50%);
    width: 60px;
    height: 2px;
    background-color: dimgray;
    transition: 0.3s;
}
.button006 a:hover:before, .button006 a:hover:after {
    right: -3.5em;
}
.button006 a:hover {
    background: gray;
    color: white;
}

/* ここから吹き出しデザイン */

.talk-wrap{
    display: block;
    clear: both;
    margin:0 auto 3px auto;
    }
.talk-wrap p{
margin:0;
}
.left-icon{
width: 100px;
height: 100px;
border-radius: 50%;
-webkit-border-radius: 50%;
background: no-repeat;
background-size: 180%;
background-position: center;
float:left;
display:inline-block;
box-shadow: 1px 1px 5px #aaa; /*左のアイコンの影の設定*/
border: 3px solid #fff; /*左のアイコンの枠の設定*/
margin-bottom: 10px;
}
.talk-left{
float:right;
position: relative;
background: #fff; /*左の会話の背景色*/
border: 2px solid #666;
padding: 3%;
border-radius: 10px;
width: 70%;
margin-top:10px;
box-shadow: 1px 1px 5px #aaa; /*左の会話の影の設定*/
margin-bottom: 10px;
}
.talk-left:before {
content: "";
display: inline-block;
border: 10px solid transparent;
border-right-color: #666;
position: absolute;
left: -20px;
top: 25%;
margin-top: -9px;
}
.talk-left:after {
content: "";
display: inline-block;
border: 9px solid transparent;
border-right-color: #fff;
position: absolute;
left: -16px;
top: 25%;
margin-top: -8px;
}
.right-icon{
width: 100px;
height: 100px;
border-radius: 50%;
-webkit-border-radius:50%;
background: no-repeat;
background-size: 180%;
background-position: center;
float:right;
display:inline-block;
box-shadow: 1px 1px 5px #aaa; /*右のアイコンの影の設定*/
border: 3px solid #FFF; /*右のアイコンの枠の設定*/
margin-bottom: 10px;
}
.talk-right{
float:left;
position: relative;
background: #fff; /*右の会話の背景色*/
border: 2px solid #666;
padding: 3%;
border-radius: 10px;
width: 70%;
margin-top:10px;
box-shadow: 1px 1px 5px #aaa; /*右の会話の影*/
margin-bottom:10px;
}
.talk-right:before {
content: "";
display: inline-block;
border: 10px solid transparent;
border-left-color: #666;
position: absolute;
right: -20px;
top: 25%;
margin-top: -9px;
}
.talk-right:after {
content: "";
display: inline-block;
border: 9px solid transparent;
border-left-color: #fff;
position: absolute;
right: -16px;
top: 25%;
margin-top: -8px;
}
.talk-end{
clear:both;
}
/*****レスポンシブ設定*****/
@media screen and (max-width: 480px){
.left-icon{
width: 80px;
height: 80px;
}
.talk-left{
width: 65%; 
}
.right-icon{
width: 80px;
height: 80px;
}
.talk-right{
width: 65%; 
}
}
@media screen and (max-width: 380px){
.left-icon{
width: 60px;
height: 60px;
}
.talk-left{
width: 65%; 
}
.right-icon{
width: 60px;
height: 60px;
}
.talk-right{
width: 65%; 
}
}
/* ここまで */

@media screen and (min-width:640px) {
    #top {
        /* background-size: 60% auto; */
        background-position:center;
    }

    .sec1 {
        position:initial;
    }

    /* .main-article h2 {
        font-size: 22px;
        border-left: 3px solid rgb(248 113 113 / var(--tw-bg-opacity));
        padding-left: 6px;
        margin: 20px 0;
    } */
}

@media screen and (min-width:1280px) {
    /* #top {
        background-size: 40% auto;
    } */

    .bstok {
        height: 500px;
    }

    .cov {
        width: 1000px;
    }
}